services:
  db:
    image: postgres:15-alpine
    container_name: social_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: social
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres

volumes:
  postgres_data:

networks:
  postgres:
    driver: bridge
